<app-content-header 
    [icon]="'escalator_warning'" 
    [title]="'Donate Requests'" 
    [desc]="'Donate and save a life'"
    [hideBreadcrumb]="false"
    [hasBgImage]="true" 
    [class]="'pb-5'"></app-content-header>

<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="px-2 user-toolbar">
    <div fxLayout="row">
        <!-- <button mat-icon-button (click)="openUserDialog(null)">
            <mat-icon>person_add</mat-icon>
        </button> -->
        <button mat-icon-button (click)="showSearch = !showSearch" class="mx-2">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <form class="user-search" [class.show]="showSearch">
        <mat-form-field class="user-search-input">
            <input matInput placeholder="Search request by category, blood group, location..." [(ngModel)]="searchText" name="search">
        </mat-form-field>
    </form>
    <div fxLayout="row">
        <button mat-icon-button (click)="changeView('grid')" class="mx-2">
            <mat-icon>view_module</mat-icon>
        </button>
        <button mat-icon-button (click)="changeView('list')">
            <mat-icon>view_list</mat-icon>
        </button>
    </div>
</mat-toolbar>

<div class="users-wrapper p-2">
    <div fxLayout="row" fxLayoutAlign="center center" style="height: 200px;" *ngIf="!users || users.length == 0">
        No requests to display
    </div>
    <div *ngIf="viewType == 'grid'" fxLayout="row wrap">
        <div *ngFor="let user of users | requestSearch : searchText | paginate: { itemsPerPage: 6, currentPage: page }" fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" fxFlex.sm="50" class="p-2"> 
            <mat-card fxLayout="row" class="p-0 user-content">  
                <div fxFlex="35" fxLayout="column" fxLayoutAlign="center center" class="bg-primary" [ngClass]="{'gradient-blue':user.requestCategory === 'Plasma', 'gradient-red': user.requestCategory === 'Blood', 'gradient-green': user.requestCategory === 'Covid Recovered Plasma'}">
                    <div class="user-img">
                        <img *ngIf="user?.image" [src]="user.profile.image" class="transition mb-2" [class.blocked]="user.isDeleted">
                        <img *ngIf="!user?.image" src="assets/img/users/default-user.jpg" class="transition mb-2" [class.blocked]="user.isDeleted">  
                        <mat-icon *ngIf="user.isDeleted" class="warn-color block-icon">block</mat-icon>
                        <div fxLayout="row" fxLayoutAlign="center center" class="social-icons">
                            <h4  class="user-name px-2">{{user.requestedBloodGroup}} {{user.requestCategory}}</h4> 
                        </div>
                    </div>
                </div>       
                <div fxFlex="65" [class.blocked]="user.isDeleted" class="user-details"> 
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <h4  class="user-name px-2">{{user.requestor?.fullName}}</h4> 
                        <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>                  
                    <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
                        <span (mouseleave)="menuTrigger.closeMenu()">
                            <button mat-menu-item (click)="onAcceptRequest(user)">
                                <mat-icon>check_circle</mat-icon>
                                <span>Accept</span>
                            </button>
                        </span>
                    </mat-menu>
                    <mat-divider></mat-divider>
                    <div class="info-list mx-2" [class.blocked]="user.isDeleted">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">account_circle</mat-icon>
                            <span>{{user.requestorId}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">mail_outline</mat-icon>
                            <span>{{user.requestor.email}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">call</mat-icon>
                            <span>{{user.requestorPhNum}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">location_on</mat-icon>
                            <span>{{user.location}}</span>
                        </p>
                    </div>                    
                </div>
            </mat-card>  
        </div>
    </div>
    <div *ngIf="viewType == 'list'" fxLayout="row wrap">
        <div *ngFor="let user of users | requestSearch : searchText | paginate: { itemsPerPage: 6, currentPage: page }" fxFlex="100" class="p-2"> 
            <mat-card class="p-0 user-content"> 
                <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center" class="bg-primary"  [ngClass]="{'gradient-blue':user.requestCategory === 'Plasma', 'gradient-red': user.requestCategory === 'Blood', 'gradient-green': user.requestCategory === 'Covid Recovered Plasma'}">
                    <div class="user-img">
                        <img *ngIf="user?.image" [src]="user.profile.image" class="transition mb-2" [class.blocked]="user.isDeleted">
                        <img *ngIf="!user?.image" src="assets/img/users/default-user.jpg" class="transition mb-2" [class.blocked]="user.isDeleted">  
                        <mat-icon *ngIf="user.isDeleted" class="warn-color block-icon">block</mat-icon>
                        <div fxLayout="row" fxLayoutAlign="center center" class="social-icons">
                            <h4 class="user-name px-2">{{user.requestedBloodGroup}} {{user.requestCategory}}</h4>
                        </div>
                    </div>
                </div> 
                <div fxFlex="80" fxFlex.xs="70" fxLayout="row wrap" fxLayout.xs="column" class="user-details">
                    <div class="w-100">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <h4 *ngIf="!user.isDeleted" class="user-name px-2">{{user.requestor.fullName}}</h4> 
                            <h4 *ngIf="user.isDeleted" class="user-name px-2">User blocked</h4>
                            <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>                  
                        <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
                            <span (mouseleave)="menuTrigger.closeMenu()">
                                <button mat-menu-item (click)="onAcceptRequest(user)">
                                    <mat-icon>check_circle</mat-icon>
                                    <span>Accept</span>
                                </button>
                            </span>
                        </mat-menu>
                        <mat-divider></mat-divider>                        
                    </div>
                    <div fxFlex="30" fxFlex.xs="100" fxLayout="column" class="info-list px-2" [class.blocked]="user.isDeleted">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">account_circle</mat-icon>
                            <span>{{user.requestorId}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">supervisor_account</mat-icon>
                            <span>{{user.requestFor}}</span>
                        </p>   
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">opacity</mat-icon>
                            <span>{{user.requestedBloodGroup}}</span>
                        </p>                                               
                    </div>
                    <div fxFlex="30" fxFlex.xs="100" fxLayout="column" class="info-list px-2" [class.blocked]="user.isDeleted">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">mail_outline</mat-icon>
                            <span>{{user.requestor.email}}</span>
                        </p> 
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">call</mat-icon>
                            <span>{{user.requestorPhNum}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">location_on</mat-icon>
                            <span>{{user.location}}</span>
                        </p>                        
                    </div>
                    <div fxFlex="40" fxFlex.xs="100" fxLayout="column" class="info-list px-2" [class.blocked]="user.isDeleted">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">event_available</mat-icon>
                            <span>{{user.requestedOn | date:"dd MMM, yyyy 'at' HH:mm"}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon  class="secondary-text-color">equalizer_icon</mat-icon>
                            <span>{{ user.status}}</span>
                        </p>   
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon  class="secondary-text-color">description</mat-icon>
                           
                            <span [matTooltip]="user.description">{{ user.description}}</span>
                        </p>                       
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    
    <!-- <div *ngIf="users" fxLayout="row wrap">
        <div fxFlex="100" class="p-2"> 
            <mat-card class="p-0 text-center">           
                <pagination-controls class="annular-pagination" autoHide="true" maxSize="3" (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>     -->
    <div *ngIf="!users" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">   
        <mat-spinner color="accent"></mat-spinner>    
    </div>   
</div>