<button mat-icon-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger" >
    <mat-icon>account_circle</mat-icon>
</button>

<mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu user-menu">
    <!--<span (mouseleave)="userMenuTrigger.closeMenu()">-->        
        <mat-card fxLayout="row" fxLayoutAlign="space-around center" class="user-info p-0">
            <img [src]="userImage" alt="user-image">
            <div fxLayout="column" fxLayoutAlign="center center" class="font_class">
                <h2>{{userData?.fullName}}</h2>
                <h3 class="secondary-text-color"> {{userData?.bloodGroup}} Blood Group</h3>
                <h3 class="secondary-text-color">{{userData?.userId}}</h3>
                <h3 class="secondary-text-color"><mat-icon style="color: cadetblue;">emoji_events</mat-icon>
                    <span style="vertical-align: super;"> {{userData.points? userData.points : '--' }}</span> </h3>
            </div>
        </mat-card>          <mat-divider></mat-divider>
        <a mat-menu-item routerLink="/profile"> 
            <mat-icon>person</mat-icon>
            <span>Profile</span> 
        </a>
        <mat-divider></mat-divider>
        <a mat-menu-item (click)="onLogout()"> 
            <mat-icon>power_settings_new</mat-icon>
            <span>Log out</span> 
        </a>
    <!--</span>-->
</mat-menu>