<app-content-header [icon]="'profile'" [title]="'Profile'" [desc]="'User profile'" [hideBreadcrumb]="false"
    [hasBgImage]="true" [class]="'pb-4'"></app-content-header>
<div fxLayout="row wrap" fxLayoutAlign="center" class="p-2">
    <mat-card class="p-2" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60">
        <mat-progress-bar mode="indeterminate" *ngIf="isProcessing"></mat-progress-bar>
    <form [formGroup]="form" (ngSubmit)="onUpdate(form.value)"  >          
        <div class="px-4">
            <mat-form-field class="w-100">
                <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">card_membership</mat-icon>
                <input matInput readonly placeholder="User ID" formControlName="userId" >
                <!-- <mat-error *ngIf="form.controls.userId.errors?.required">User Id is required</mat-error>
                <mat-error *ngIf="form.controls.userId.hasError('minlength') || form.controls.userId.hasError('maxlength')">Invalid username address</mat-error> -->
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
                <input matInput placeholder="Full Name" formControlName="fullName">
                <mat-error *ngIf="form.controls.fullName.errors?.required">Full Name is required</mat-error>
                <mat-error *ngIf="form.controls.fullName.hasError('minlength')">Full Name isn't long enough, minimum of 3 characters</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail</mat-icon>
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">call</mat-icon>
              <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
              <mat-error *ngIf="form.controls.phoneNumber.errors?.required">phone Number is required</mat-error>
              <!-- <mat-error *ngIf="form.controls.phoneNumber.hasError('minlength') || form.controls.phoneNumber.hasError('maxlength')">Invalid Phone Number</mat-error> -->
          </mat-form-field>
           
            <mat-form-field class="w-100">
                <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">supervisor_account</mat-icon>
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender"  required >
                <mat-option *ngFor="let opt of genderOptions" [value]="opt.value">
                    {{opt.viewValue}}
                  </mat-option>
                </mat-select>
             </mat-form-field>  
             <mat-form-field class="w-100">
                <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">opacity</mat-icon>
                <mat-label>Blood Group</mat-label>
                <mat-select formControlName="bloodGroup" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let opt of bloodGroupOptions"  [value]="opt.value">
                    {{opt.viewValue}}
                  </mat-option>
                </mat-select>
             </mat-form-field>  
             <mat-form-field class="w-100">
                <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">location_on</mat-icon>
                <input matInput placeholder="Location" formControlName="location" required>
            </mat-form-field>
            <button mat-raised-button color="primary" class="mat-elevation-z6 w-100 my-2" type="submit">Update Profile</button>
        </div>
    </form>
    </mat-card>

</div>