<app-content-header 
    [icon]="'call'" 
    [title]="'Support Assistants'" 
    [desc]="'Stuck ? Get info from them.'"
    [hideBreadcrumb]="false"
    [hasBgImage]="true" 
    [class]="'pb-5'"></app-content-header>

<mat-toolbar color="primary" fxLayout="row-reverse" fxLayoutAlign="space-between center" class="px-2 user-toolbar">
 
</mat-toolbar>

<div class="users-wrapper p-2">
    <div fxLayout="row wrap">    
        <div *ngFor="let user of users | UserSearchPipe : searchText | paginate: { itemsPerPage: 6, currentPage: page }" fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" fxFlex.sm="50" class="p-2"> 
            <mat-card fxLayout="row" class="p-0 user-content">  
                <div fxFlex="35" fxLayout="column" fxLayoutAlign="center center" class="bg-primary">
                    <div class="user-img">
                        <img src="assets/img/users/default-user.jpg" class="transition mb-2">  
                    </div>
                </div>       
                <div fxFlex="65" class="user-details"> 
                    <div fxLayout="row" fxLayoutAlign="space-between center" style="height: 40px;">
                        <h4  class="user-name px-2">{{user.fullName}}</h4> 
                    </div>                  
                    <mat-divider></mat-divider>
                    <div class="info-list mx-2">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">card_membership</mat-icon>
                            <span>{{user.userId}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">mail_outline</mat-icon>
                            <span>{{user.email}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">call</mat-icon>
                            <span>{{user.phone}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">location_on</mat-icon>
                            <span>{{user.location}}</span>
                        </p>
                    </div>                    
                </div>
            </mat-card>        
        </div>
    </div>
    <!-- <div *ngIf="viewType == 'list'" fxLayout="row wrap">
        <div *ngFor="let user of users | UserSearchPipe : searchText | paginate: { itemsPerPage: 6, currentPage: page }" fxFlex="100" class="p-2"> 
            <mat-card class="p-0 user-content"> 
                <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center" class="bg-primary">
                    <div class="user-img mt-3">
                        <img src="assets/img/users/default-user.jpg" class="transition mb-2">  
                    </div>
                </div> 
                <div fxFlex="80" fxFlex.xs="70" fxLayout="row wrap" fxLayout.xs="column" class="user-details">
                    <div class="w-100">
                        <div fxLayout="row" class="height_40" fxLayoutAlign="space-between center">
                            <h4  class="user-name px-2">{{user.fullName}}</h4> 
                        </div>                  
                        <mat-divider></mat-divider>                        
                    </div>
                    <div fxFlex="30" fxFlex.xs="100" fxLayout="column" class="info-list px-2">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">card_membership</mat-icon>
                            <span>{{user.userId}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">mail_outline</mat-icon>
                            <span>{{user.email}}</span>
                        </p>                                           
                    </div>
                    <div fxFlex="30" fxFlex.xs="100" fxLayout="column" class="info-list px-2">
                   
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">call</mat-icon>
                            <span>{{user.phone}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">location_on</mat-icon>
                            <span>{{user.location}}</span>
                        </p>                        
                    </div>
                    <div fxFlex="40" fxFlex.xs="100" fxLayout="column" class="info-list px-2" >
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon  class="secondary-text-color">person</mat-icon>
                            <span>{{ (user.gender) }}</span>
                        </p>                       
                    </div>
                </div>
            </mat-card>
        </div>
    </div> -->
    <div *ngIf="users" fxLayout="row wrap">
        <div fxFlex="100" class="p-2"> 
            <mat-card class="p-0 text-center">           
                <pagination-controls class="annular-pagination" autoHide="true" maxSize="3" (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>    
    <div *ngIf="!users" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">   
        <mat-spinner color="accent"></mat-spinner>    
    </div>   
</div>