<app-content-header
    icon="dashboard" 
    desc="{{'Welcome ' + userData.fullName}}"
    [hideBreadcrumb]="true"
    [hasBgImage]="true" 
    [class]="'py-3'"></app-content-header>

<div class="p-2">
    <app-tiles></app-tiles>
    
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="70" class="p-2"> 
            <app-analytics></app-analytics>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="30" fxLayout="column">
            <div fxFlex="100" class="p-2">
                <mat-card class="secondary-text-color p-4">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="">
                        <h2>7,000</h2>
                        <p class="text-truncate mx-1">Overall Donations</p>
                    </div>
                    <mat-progress-bar mode="determinate" value="53"></mat-progress-bar>
                    <p class="mt-3 text-truncate">53% higher than last month</p>
                </mat-card>
            </div>
            <div fxFlex="100" class="p-2">
                <mat-card class="secondary-text-color p-4">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="">
                        <h2>6,500</h2>
                        <p class="text-truncate mx-1">Active Requests</p>
                    </div>
                    <mat-progress-bar mode="determinate" value="27" color="warn"></mat-progress-bar>
                    <p class="mt-3 text-truncate">27% less than last month</p>
                </mat-card>
            </div>       
            <div fxFlex="100" class="p-2">
                <mat-card class="secondary-text-color p-4">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="">
                        <h2>13,500</h2>
                        <p class="text-truncate mx-1">Total Requests</p>
                    </div>
                    <mat-progress-bar mode="determinate" value="68"></mat-progress-bar>
                    <p class="mt-3 text-truncate">68% higher than last month</p>
                </mat-card>
            </div>
        </div>
    </div>
    <h3 class="mx-1">Best Donors</h3>
    <app-team></app-team>

</div>