<mat-drawer-container class="landing-container h-100">     
    <mat-drawer-content> 
        <mat-toolbar class="landing-toolbar mat-elevation-z4">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                <div fxLayout="row" fxLayoutAlign="center center">               
                    <a routerLink="/" fxLayout="row" fxLayoutAlign="start center" class="logo">
                        <img src="assets/img/logo.png" alt="logo">
                        <span class="mx-2">Lifeline</span> 
                    </a>
                </div> 
                <div fxLayout="row" fxLayoutAlign="center center">
                    
                    <button mat-button fxHide="false" class="mx-1" routerLink='/login'>
                        <mat-icon>login</mat-icon> <span  fxHide.xs="true">Sign In</span>
                    </button> 
                    <button mat-button fxHide="false" routerLink='/register'>
                        <mat-icon>how_to_reg</mat-icon> <span fxHide.xs="true">Sign Up</span>
                    </button> 
                </div>
            </div>
        </mat-toolbar> 
        <app-content-header id="home"
             
            [src] = "'/assets/img/app_logo_lg.png'"
            [title]="'LIFELINE - The Next Life Applied'"
            [desc]="'Mphasis Lifeline is a channel where users can request or donate the blood or plasma which may save a life!'" 
            [hideBreadcrumb]="true"
            [hasBgImage]="true" 
            [class]="'py-5 px-2'"></app-content-header>        
        
        <div class="p-2">
            <app-features></app-features>
        </div> 

        <mat-toolbar color="primary" class="mt-5">
            <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-between center" class="landing-footer">
                <span>Copyright @2020 All Rights Reserved</span>
            </div>
        </mat-toolbar>

    </mat-drawer-content>
</mat-drawer-container>