<div class="content-header bg-primary" [class.bg-image]="hasBgImage" [ngClass]="class">
  <mat-icon *ngIf="closeIcon" class="mat-icon-md close_class mr-2 mt-2" (click)="onClose()">{{closeIcon}}</mat-icon>
  <app-breadcrumb [hidden]="hideBreadcrumb"></app-breadcrumb>
  <mat-icon *ngIf="icon" class="mat-icon-xlg" [ngClass]="iconClass">{{icon}}</mat-icon>
  <img [src]="src" *ngIf="src"/>
  <h2 *ngIf="title">{{title}}</h2>
  <h4 *ngIf="desc" class="p-2">{{desc}}</h4>
</div>