<mat-sidenav-container class="h-100">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
       <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">
            <app-content-header 
                [icon]="'person_add'" 
                [title]="'Register'" 
                [hideBreadcrumb]="true"
                [hasBgImage]="true" 
                [iconClass]="'mt-2'"></app-content-header>            
            <div class="px-4">
              <mat-progress-bar mode="indeterminate" *ngIf="isProcessing"></mat-progress-bar>
                <a mat-button routerLink="/login" color="primary" class="w-100">Already have an account? Sign in!</a>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">card_membership</mat-icon>
                    <input matInput placeholder="User ID" formControlName="userId">
                    <mat-error *ngIf="form.controls.userId.errors?.required">User Id is required</mat-error>
                    <mat-error *ngIf="form.controls.userId.hasError('pattern')">UserId starts with 2 and should be 7 digits</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
                    <input matInput placeholder="Full Name" formControlName="fullName">
                    <mat-error *ngIf="form.controls.fullName.errors?.required">Full Name is required</mat-error>
                    <mat-error *ngIf="form.controls.fullName.hasError('minlength')">Full Name isn't long enough, minimum of 3 characters</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail</mat-icon>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                    <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">call</mat-icon>
                  <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
                  <mat-error *ngIf="form.controls.phoneNumber.errors?.required">Phone Number is required</mat-error>
                  <mat-error *ngIf="form.controls.phoneNumber.errors?.pattern">Invalid Phone Number</mat-error>
              </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                    <input matInput placeholder="Password" formControlName="password" type="password" minlength="6">
                    <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                    <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                </mat-form-field> 
                <!-- <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                    <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password">
                    <mat-error *ngIf="form.controls.confirmPassword.errors?.required">Confirm Password is required</mat-error>
                    <mat-error *ngIf="form.controls.confirmPassword.hasError('mismatchedPasswords')">Passwords do not match</mat-error>
                </mat-form-field> -->
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">supervisor_account</mat-icon>
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let opt of genderOptions" [value]="opt.value">
                        {{opt.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.gender.hasError('required')">Please choose Gender</mat-error>
                 </mat-form-field>  
                 <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">opacity</mat-icon>
                    <mat-label>Blood Group</mat-label>
                    <mat-select formControlName="bloodGroup">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let opt of bloodGroupOptions" [value]="opt.value">
                        {{opt.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.bloodGroup.hasError('required')">Please choose Blood Group</mat-error>
                 </mat-form-field>  
                 <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">location_on</mat-icon>
                    <input matInput placeholder="Location" formControlName="location">
                    <mat-error *ngIf="form.controls.location.hasError('required')">Location is required</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" class="mat-elevation-z6 w-100 my-2" type="submit">SIGN UP</button>
            </div>
        </form>
  </div>
</mat-sidenav-container>