<app-content-header     
    [title]="'Chat'" 
    [hideBreadcrumb]="false"
    [hasBgImage]="true" 
    [icon]="'chat'"
    [desc]="'Chat with online people..Get instant response for your help'"
    [class]="'pb-5'"></app-content-header>

<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="px-2 chat-toolbar">
    <div fxLayout="row">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>list</mat-icon>
        </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="currentChat">
        <mat-list class="p-0">
            <mat-list-item>
                <img matListAvatar src="assets/img/users/user.jpg" class="author-img">
            </mat-list-item>
        </mat-list>
        <span class="author-name">{{currentChat.author}}</span>
        <button mat-icon-button [matMenuTriggerFor]="personMenu" #personMenuTrigger="matMenuTrigger">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #personMenu="matMenu" xPosition="before">
            <span (mouseleave)="personMenuTrigger.closeMenu()">
                <button mat-menu-item (click)="personInfo.toggle()">
                    <mat-icon>account_circle</mat-icon>
                    <span>Contact info</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>volume_mute</mat-icon>
                    <span>Mute</span>
                </button>
                <button mat-menu-item> 
                    <mat-icon>delete_forever</mat-icon>
                    <span>Clear chat</span>
                </button>
            </span>
        </mat-menu>
    </div>
</mat-toolbar>

<div fxLayout="row wrap">
    <div fxFlex="100"> 
        <mat-card class="p-0 chat">
            <mat-drawer-container class="chat-container">
                <mat-drawer #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="chat-sidenav mat-elevation-z1" autoFocus="false">
                    <mat-nav-list class="p-0 chat-sidenav-list" perfectScrollbar>
                        <mat-list-item *ngFor="let chat of chats" (click)="getChat(chat)">
                            <img matListAvatar src="assets/img/users/user.jpg">
                            <h6 matLine> {{chat.author}} </h6>
                            <p matLine fxLayout="row" fxLayoutAlign="none center" class="secondary-text-color">
                                <span [ngSwitch]="chat.authorStatus">
                                    <mat-icon *ngSwitchCase="'Online'" class="chat-status-icon">check_circle</mat-icon>
                                    <mat-icon *ngSwitchCase="'Offline'" class="chat-status-icon">highlight_off</mat-icon>
                                    <mat-icon *ngSwitchCase="'Away'" class="chat-status-icon">schedule</mat-icon>
                                    <mat-icon *ngSwitchCase="'Do not disturb'" class="chat-status-icon">not_interested</mat-icon>
                                </span>
                                <span class="author-status">{{chat.authorStatus}}</span>
                            </p>
                        </mat-list-item>
                    </mat-nav-list>
                </mat-drawer>
                
                <div>
                    <div class="chat-content"  [class.actions-visible]="talks" perfectScrollbar>
                        <mat-list *ngIf="talks" class="p-0" >
                            <mat-list-item *ngFor="let talk of talks" class="talk-item">
                                <img matListAvatar src="assets/img/users/user.jpg">
                                <p matLine class="message">
                                    <span [ngClass]="(talk.my) ? 'bg-primary' : 'bg-accent'">{{talk.text}}</span>
                                </p>                             
                                <p matLine class="message-date">
                                    <small>{{talk.date | date:"dd MMMM, yyyy 'at' HH:mm"}}</small>
                                </p> 
                            </mat-list-item>
                        </mat-list>
                        <div *ngIf="!talks" fxLayout="column" fxLayoutAlign="center center" class="h-100 empty">
                            <mat-icon>chat</mat-icon>            
                            <p>Select a interlocutor for talk</p>
                        </div> 
                    </div>
                    <mat-card *ngIf="talks" class="chat-actions"> 
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Enter your text..." (keyup)="sendMessage($event)" [(ngModel)]="newMessage">
                            </mat-form-field>
                            <div fxLayout="row" fxLayoutAlign="scenter center">
                                <button mat-icon-button type="button">
                                    <mat-icon>attach_file</mat-icon>
                                </button>
                                <button mat-mini-fab color="primary" type="button" (click)="sendMessage($event)">
                                    <mat-icon>send</mat-icon>
                                </button>
                            </div>
                            </div>
                    </mat-card>
                </div>

                <mat-drawer #personInfo mode="over" position="end" class="person-info-sidenav mat-elevation-z1" autoFocus="false">
                    <div class="p-0 h-100" perfectScrollbar>

                        <div class="bg-primary w-100 text-center"> 
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="p-2">
                                <h2>Contact Info</h2>
                                <button mat-icon-button (click)="personInfo.toggle()"><mat-icon>close</mat-icon></button>
                            </div>  
                            <img *ngIf="currentChat" src="assets/img/users/user.jpg" class="py-2">
                            <h2 *ngIf="currentChat" class="pb-3">{{currentChat.author}}</h2>
                        </div> 
                        <mat-list>
                            <mat-list-item>
                                <mat-icon matListIcon class="secondary-text-color">mail_outline</mat-icon>
                                <h3 matLine>author@gmail.com</h3>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon matListIcon class="secondary-text-color">call</mat-icon>
                                <h3 matLine>(202) 756-9756</h3>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon matListIcon class="secondary-text-color">location_on</mat-icon>
                                <h3 matLine>2903 Avenue Z, Brooklyn, NY</h3>
                            </mat-list-item>
                        </mat-list>                       
                    </div>
                </mat-drawer>
            
            </mat-drawer-container>
        </mat-card>
      </div>
</div>
