<app-content-header 
    [icon]="'library_books'" 
    [title]="'My Requests'" 
    [desc]="'View status of your requests and also raise your new request here.'"
    [hideBreadcrumb]="false"
    [hasBgImage]="true" 
    [class]="'pb-5'"></app-content-header>

<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="px-2 user-toolbar">
    <div fxLayout="row">
        <button mat-icon-button (click)="openRequestFormDialog()">
            <mat-icon>post_add</mat-icon> Raise a Request
        </button>
        <button mat-icon-button (click)="showSearch = !showSearch"  style="margin-left: 100px;">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <form class="user-search" [class.show]="showSearch">
        <mat-form-field class="user-search-input">
            <input matInput placeholder="Search request by category, blood group, location..." [(ngModel)]="searchText" name="search">
        </mat-form-field>
    </form>
    <!-- <div fxLayout="row">
        <button mat-icon-button (click)="changeView('grid')" class="mx-2">
            <mat-icon>view_module</mat-icon>
        </button>
        <button mat-icon-button (click)="changeView('list')">
            <mat-icon>view_list</mat-icon>
        </button>
    </div> -->
</mat-toolbar>

<div class="users-wrapper p-2">
    <!-- <div *ngIf="viewType == 'grid'" fxLayout="row wrap">    
        <div *ngFor="let req of requestList" fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" fxFlex.sm="50" class="p-2"> 
            <mat-card fxLayout="row" class="p-0 user-content">  
                <div fxFlex="35" fxLayout="column" fxLayoutAlign="center center" class="bg-primary" [ngClass]="(req.requestCategory === 'Plasma') ? 'gradient-blue' : 'gradient-red'">
                    <div class="user-img">
                        <img *ngIf="req?.image" [src]="user.profile.image" class="transition mb-2" [class.blocked]="req.isDeleted">
                        <img *ngIf="!req?.image" src="assets/img/users/default-user.jpg" class="transition mb-2" [class.blocked]="req.isDeleted">  
                        <mat-icon *ngIf="req.isDeleted" class="warn-color block-icon">block</mat-icon>
                        <div fxLayout="row" fxLayoutAlign="center center" class="social-icons">
                            <h4  class="user-name px-2">{{req.requestCategory}} {{req.requestedBloodGroup}}</h4> 
                        </div>
                    </div>
                </div>       
                <div fxFlex="65" [class.blocked]="req.isDeleted" class="user-details"> 
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <h4  class="user-name px-2">{{req.requestor.fullName}}</h4> 
                      
                            <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        
                    </div> 
                        <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
                            <span (mouseleave)="menuTrigger.closeMenu()">
                                <button *ngIf= "req.status === 'Pending'" mat-menu-item (click)="onDeleteRequest(req)">
                                    <mat-icon>check_circle</mat-icon>
                                    <span>Delete</span>
                                </button>
                                <button *ngIf= "req.status === 'Accepted'" mat-menu-item (click)="onGotDonation(req)">
                                    <mat-icon>check_circle</mat-icon>
                                    <span>Got Donation</span>
                                </button>
                                <button *ngIf= "req.status === 'Accepted'" mat-menu-item (click)="onNotRequired(req)">
                                    <mat-icon>check_circle</mat-icon>
                                    <span>Not Required</span>
                                </button>
                            </span>
                        </mat-menu>
                    <mat-divider></mat-divider>
                    <div class="info-list mx-2" [class.blocked]="req.isDeleted">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">account_circle</mat-icon>
                            <span>{{req.requestorId}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">mail_outline</mat-icon>
                            <span>{{req.requestor.email}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">call</mat-icon>
                            <span>{{req.requestorPhNum}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">location_on</mat-icon>
                            <span>{{req.location}}</span>
                        </p>
                    </div>                    
                </div>
            </mat-card>        
        </div>
    </div> -->
    <div *ngIf="viewType == 'list'" fxLayout="row wrap">
        <div *ngIf="!requestList || requestList.length == 0" fxLayout="column" fxLayoutAlign="center center" 
        style="height: 200px;" class="w-100">
            <a mat-button (click)="openRequestFormDialog()" color="primary">No requests to display, Raise a Request!</a>
        </div>
        <div *ngFor="let req of requestList | requestSearch : searchText" fxFlex="100" class="p-2"> 
            <mat-card class="p-0 user-content"> 
                <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center" class="bg-primary"  [ngClass]="{'gradient-blue':req.requestCategory === 'Plasma', 'gradient-red': req.requestCategory === 'Blood', 'gradient-green': req.requestCategory === 'Covid Recovered Plasma'}">
                    <div class="user-img">
                        <img *ngIf="req?.image" [src]="req.profile.image" class="transition mb-2" [class.blocked]="req.isDeleted">
                        <img *ngIf="!req?.image" src="assets/img/users/default-user.jpg" class="transition mb-2" [class.blocked]="req.isDeleted">  
                        <mat-icon *ngIf="req.isDeleted" class="warn-color block-icon">block</mat-icon>
                        <div fxLayout="row" fxLayoutAlign="center center" class="social-icons">
                            <h4 class="user-name px-2">{{req.requestCategory}} {{req.requestedBloodGroup}}</h4>
                        </div>
                    </div>
                </div> 
                <div fxFlex="80" fxFlex.xs="70" fxLayout="row wrap" fxLayout.xs="column" class="user-details">
                    <div class="w-100">
                        <div fxLayout="row" fxLayoutAlign="space-between center" ngClass="req.status !== 'Completed' && req.status !== 'Cancelled' ? height_40 : ''">
                            <h4 *ngIf="!req.isDeleted" class="user-name px-2">{{req.requestor.fullName}}</h4> 
                            <button *ngIf="req.status !== 'Completed' && req.status !== 'Cancelled'" mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>                  
                            <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
                                <span>
                                    <button *ngIf= "req.status === 'Pending'" mat-menu-item (click)="onUpdateRequest(req)">
                                        <mat-icon>create</mat-icon>
                                        <span>Edit</span>
                                    </button>
                                    <button *ngIf= "req.status === 'Pending'" mat-menu-item (click)="onDeleteRequest(req)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Delete</span>
                                    </button>
                                    <button *ngIf= "req.status === 'Accepted'" mat-menu-item (click)="onGotDonation(req)">
                                        <mat-icon>thumb_up</mat-icon>
                                        <span>Got Donation</span>
                                    </button>
                                   
                                    <button *ngIf= "req.status === 'Accepted'" mat-menu-item (click)="onNotRequired(req)">
                                        <mat-icon>report_problem</mat-icon>
                                        <span>Not Required</span>
                                    </button>

                                    <button *ngIf= "req.status === 'Accepted'" mat-menu-item (click)="onReopenRequest(req)">
                                        <mat-icon>launch</mat-icon>
                                        <span>Re-open Request</span>
                                    </button>
                                </span>
                            </mat-menu>
                         
                        <mat-divider></mat-divider>                        
                    </div>
                    <div fxFlex="30" fxFlex.xs="100" fxLayout="column" class="info-list px-2" [class.blocked]="req.isDeleted">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">card_membership</mat-icon>
                            <span>{{req.requestorId}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">supervisor_account</mat-icon>
                            <span>{{req.requestFor}}</span>
                        </p>   
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">opacity</mat-icon>
                            <span>{{req.requestedBloodGroup}}</span>
                        </p>  
                    </div>
                    <div fxFlex="30" fxFlex.xs="100" fxLayout="column" class="info-list px-2" [class.blocked]="req.isDeleted">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">mail_outline</mat-icon>
                            <span>{{req.requestor.email}}</span>
                        </p> 
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">call</mat-icon>
                            <span>{{req.requestorPhNum}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">location_on</mat-icon>
                            <span>{{req.location}}</span>
                        </p>                        
                    </div>
                    <div fxFlex="40" fxFlex.xs="100" fxLayout="column" class="info-list px-2" [class.blocked]="req.isDeleted">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">event_available</mat-icon>
                            <span>{{req.requestedOn | date:"dd MMM, yyyy 'at' HH:mm"}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon  class="secondary-text-color">equalizer_icon</mat-icon>
                            <span>{{ req.status}}</span>
                        </p>   
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon  class="secondary-text-color">description</mat-icon>
                           
                            <span [matTooltip]="req.description">{{ req.description}}</span>
                        </p>                       
                    </div>
                    <ng-container *ngIf="req.donorId">
                    <div  fxFlex="100" fxFlex.xs="100" fxLayout="row" class="info-list px-2" >
                        <mat-divider></mat-divider>    
                        <label class="mt-2">Donor Details:</label>
                    </div>
                     
                        <div  fxFlex="30" fxFlex.xs="100" fxLayout="column" class="info-list px-2" >
                            <p  fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="secondary-text-color">card_membership</mat-icon>
                                <span>{{req.donor.userId}}</span>
                            </p> 
                            <p  fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="secondary-text-color">account_circle</mat-icon>
                                <span>{{req.donor.fullName}}</span>
                            </p>                
                        </div>

                        <div  fxFlex="30" fxFlex.xs="100" fxLayout="column" class="info-list px-2" >
                            <p  fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="secondary-text-color">call</mat-icon>
                                <span>{{req.donor.phoneNumber}}</span>
                            </p> 
                            <p  fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="secondary-text-color">mail_outline</mat-icon>
                                <span>{{req.donor.email}}</span>
                            </p>                
                        </div>
                        <div  fxFlex="40" fxFlex.xs="100" fxLayout="column" class="info-list px-2" >
                            <p  fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="secondary-text-color">location_on</mat-icon>
                                <span>{{req.donor.location}}</span>
                            </p> 
                            <!-- <p  fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="secondary-text-color">domain</mat-icon>
                                <span>{{req.donor.fullName}}</span>
                            </p>                 -->
                        </div>
                        <div  fxFlex="100" fxFlex.xs="100" fxLayout="row" class="info-list px-2" >
                        <div *ngIf="req.status === 'Accepted'">
                            <mat-divider></mat-divider>    
                        <label class="pt-2">Donor information is provided above. Pls contact them for further details.</label>
                        </div>
                    </div>    
                    </ng-container>
                    
                    
                </div>
            </mat-card>
        </div>
    </div>
    
    <div *ngIf="requestList" fxLayout="row wrap">
        <div fxFlex="100" class="p-2"> 
            <mat-card class="p-0 text-center">           
                <!-- <pagination-controls class="annular-pagination" autoHide="true" maxSize="3" (pageChange)="onPageChanged($event)"></pagination-controls> -->
            </mat-card>
        </div>
    </div>    
    <div *ngIf="!requestList" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">   
        <mat-spinner color="accent"></mat-spinner>    
    </div>   
</div>