<mat-sidenav-container class="h-100">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
       <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">
            <app-content-header 
                [icon]="'exit_to_app'" 
                [title]="'Login'" 
                [hideBreadcrumb]="true"
                [hasBgImage]="true" 
                [class]="'py-4'"></app-content-header>            
            <div class="p-3">
                <mat-progress-bar mode="indeterminate" *ngIf="isProcessing"></mat-progress-bar>
                <a mat-button routerLink="/register" color="primary" class="w-100">Don't have an account? Sign up now!</a>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">card_membership</mat-icon>
                    <input matInput placeholder="User ID" formControlName="username">
                    <mat-error *ngIf="form.controls.username.errors?.required">User ID is required</mat-error>
                    <mat-error *ngIf="form.controls.username.hasError('minlength') || form.controls.username.hasError('maxlength')">Invalid user ID</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                    <input matInput placeholder="Password" formControlName="password" type="password">
                    <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                    <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                </mat-form-field> 
                <mat-error *ngIf="errorMsg">
                    <strong>{{errorMsg}}</strong>
                  </mat-error>              
                <!-- <mat-slide-toggle formControlName="rememberMe" class="my-2">Keep me signed in</mat-slide-toggle> -->
                <button mat-raised-button color="primary" class="mat-elevation-z6 w-100 mt-3" type="submit">SIGN IN</button>
            </div>
        </form>
  </div>
</mat-sidenav-container>