<div fxLayout="row wrap">
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">        
        <mat-card class="gradient-red tile p-2"> 
            <mat-icon>opacity</mat-icon> 
            <h2>200</h2>         
            <p>Blood Requests</p>            
        </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">        
        <mat-card class="gradient-pink tile p-2"> 
            <mat-icon>favorite</mat-icon> 
            <h2>100</h2>         
            <p>Blood Donations</p>            
        </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-blue tile p-2">
            <mat-icon>opacity</mat-icon> 
            <h2>75</h2>         
            <p>Plasma Requests</p> 
        </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-pink tile p-2">
            <mat-icon>favorite</mat-icon> 
            <h2>50</h2>         
            <p>Plasma Donations</p> 
        </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-green tile p-2">
            <mat-icon>thumb_up_alt</mat-icon> 
            <h2>150</h2>         
            <p>Total Donations</p> 
        </mat-card>
    </div>      

    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-brown tile p-2">
            <mat-icon>supervisor_account</mat-icon> 
            <h2>12700</h2>         
            <p>Users</p> 
        </mat-card>
    </div>      
</div>