<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Instructions:</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div *ngIf="category === 'Blood'"  style="max-height: 240px;overflow: auto;">
        <ul class="ml-4">
            <li>Age between 18 and 60 years  </li>
            <li>Haemoglobin - not less than 12.5 g/dL</li>
            <li>Pulse - between 50 and 100/minute with no irregularities</li>
            <li>Blood Pressure -Systolic 100-180 mm Hg and Diastolic 50 - 100 mm Hg</li>
            <li>Body weight - not less than 45 Kg</li>
            <li>Temperature - Normal (oral temperature not exceeding 37.5 C)</li>
            <li>
                Health conditions: The donor should be in a healthy state of mind and body.<br>
                    They should fulfill the following criteria:<br>
                    1. Past one year - not been treated for Rabies or received Hepatitis B immune
                    globulin.<br>
                    2. Past six months - not had a tattoo, ear or skin piercing or acupuncture, not
                    received blood or blood products, no serious illness or major surgery, no
                    contact with a person with hepatitis or yellow jaundice.<br>
                    3. Past three months - not donated blood or been treated for Malaria.<br>
                    4. Past one month - had any immunizations.<br>
                    5. Past 48 hours - taken any antibiotics or any other medications (Allopathic
                    or Ayurveda or Sidha or Homeo)<br>
                    6. Past 24 hours - taken alcoholic beverages<br>
                    7. Past 72 hours - had dental work or taken Aspirin<br>
                    8. Present - not suffering from cough, influenza or sore throat, common cold<br>
                    9. Women should not be pregnant or breast feeding her child<br>
                    10. Women donor should not donate during her menstrual cycles<br>
                    11. Free from Diabetes, not suffering from chest pain, heart disease or high
                    BP, cancer, blood clotting problem or blood disease, unexplained fever, weight loss, fatigue, night sweats, enlarged lymph nodes in armpits, neck or
                    groin, white patches in the mouth etc.<br>
                    12. Ever had TB, bronchial asthma or allergic disorder, liver disease, kidney
                    disease, fits or fainting, blue or purple spots on the skin or mucous
                    membranes, received human pituitary - growth hormones etc
            </li>
          </ul>  
        </div>
      <div *ngIf="category === 'Covid Recovered Plasma'" style="max-height: 240px;overflow: auto;">
        <ul class="ml-4">
          <li>Plasma donors should be at least 18 years old</li>
          <li>Plasma donors should weigh at least 110 pounds or 50 kilograms</li>
          <li>People who have tested positive for coronavirus and have recovered at least three weeks before donating and tested negative for Covid-19 twice</li>
          <li>Complete an extensive medical history screening for donating Plasma</li>
          <li>Test non-reactive for transmissible viruses including hepatitis and HIV</li>
          <li>Follow a recommended diet including 50 to 80 grams of daily protein</li>
          <li>Cancer patient cannot donate plasma</li>
          <li>People who have hypertension, blood pressure, heart and kidney-related ailments cannot donate plasma</li>
          <li>Notify center personnel if you:<br>
            1.Had recent surgery<br>
            2.Obtained a tattoo or piercing within the past 12 months<br>
            3.taking medication or are under a doctor's care for any medical condition
          </li>
       </ul>
      </div>
      <div *ngIf="category === 'Plasma'" style="max-height: 240px;overflow: auto;">
        <ul class="ml-4">
          <li>Plasma donors should be at least 18 years old</li>
          <li>Plasma donors should weigh at least 110 pounds or 50 kilograms</li>
          <li>Complete an extensive medical history screening for donating Plasma</li>
          <li>Test non-reactive for transmissible viruses including hepatitis and HIV</li>
          <li>Follow a recommended diet including 50 to 80 grams of daily protein</li>
          <li>Cancer patient cannot donate plasma</li>
          <li>People who have hypertension, blood pressure, heart and kidney-related ailments cannot donate plasma</li>
          <li>Notify center personnel if you:<br>
            1.Had recent surgery<br>
            2.Obtained a tattoo or piercing within the past 12 months<br>
            3.taking medication or are under a doctor's care for any medical condition
          </li>
       </ul>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button (click)="onAgree()" class="mat-primary">I Agree</button>
      <button mat-button (click)="onCancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>