<button mat-icon-button  (click)="openMessagesMenu()">
    <!--[matMenuTriggerFor]="messagesMenu"-->
    <mat-icon  [matBadge]="messages?.length" matBadgeColor="warn" [matBadgeHidden]="messages?.length==0" >notifications</mat-icon>
</button>
<mat-menu #messagesMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu messages">
    <!--<span (mouseleave)="onMouseLeave()">-->
                
                <mat-card class="content">
                  <div fxLayout="column" fxLayoutAlign="none">
                      <button mat-button *ngFor="let message of messages">
                          <!-- <img src="assets/img/profile/user.jpg" width="40">    -->
                          <div fxLayout="column" fxLayoutAlign="none" class="w-100">
                              <div fxLayout="row" fxLayoutAlign="space-between start">
                                  <span class="name">{{message.notification.title}}</span>
                                  <span class="info"><mat-icon>access_time</mat-icon> {{message.notification.postedOn | niceDate}}</span>
                              </div>
                              <span class="text secondary-text-color">{{message.notification.text}}</span>
                          </div>
                      </button>
                      <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">     
                        <a routerLink='/notification' style="width: 100%;text-decoration: underline;color: #00695c;text-align: center;">
                           View All
                        </a>
                    </div>    
                    </div>    
                    
                </mat-card>
                
    <!--</span>-->
</mat-menu>