<app-content-header [icon]="'notifications'" [title]="'Notifications'"
    [desc]="'Check all your notifications here'"
    [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-4'"></app-content-header>

<div fxLayout="row wrap" fxLayoutAlign="center" class="p-2">
    <div fxFlex="100" class="p-2 messages">
        <div fxLayout="row" fxLayoutAlign="center center" style="height: 200px;" *ngIf="!messages || messages.length == 0">
            No notifications to display
        </div>


        <ng-container *ngFor="let message of messages">
            <mat-card class="content">
                <div fxLayout="row" fxLayoutAlign="space-between center" class="p-2">
                    <h4  class="user-name px-2">{{message?.notification.title}}</h4> 
                    <span><mat-icon style="font-size: 18px;">access_time</mat-icon><span class="info">{{message?.notification.postedOn | niceDate}}</span></span>
                </div>   
                <mat-divider></mat-divider>

                <div fxLayout="row" fxLayoutAlign="space-between center" class="p-2 ml-2">
                    <p>{{message.notification.text}}</p>
                </div>  
                <!-- <div fxLayout="column" fxLayoutAlign="none">
                              <ng-container *ngFor="let message of messages">
                                  <img src="assets/img/profile/user.jpg" width="40">   
                                  <div fxLayout="column" fxLayoutAlign="none" class="w-100">
                                      <div fxLayout="row" fxLayoutAlign="space-between start">
                                          <span class="name">{{message.name}}</span>
                                          <span class="info"><mat-icon>access_time</mat-icon> {{message.time}}</span>
                                      </div>
                                      <span class="text secondary-text-color">{{message.text}}</span>
                                  </div>
                              </ng-container>
                            </div>              -->
            </mat-card>
        </ng-container>
    </div>
</div>