<form [formGroup]="form" (ngSubmit)="submitRequest(form.value)" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" style="position: relative;overflow-x: hidden;">
              <!-- <app-content-header 
                  [icon]="'exit_to_app'" 
                  [title]="'Raise Request'" 
                  [hideBreadcrumb]="true"
                  [hasBgImage]="true" 
                  [class]="'py-4'"></app-content-header>             -->
    <mat-progress-bar mode="indeterminate" *ngIf="isProcessing"></mat-progress-bar>
              <div class="p-3" >
                
                <button mat-button class="close-icon" tabindex="-1" [mat-dialog-close]="true" style="position: absolute;right: -23px;top: -12px;">
                  <mat-icon>close</mat-icon>
              </button>
                 <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">supervisor_account</mat-icon>
                    <mat-label>Request For</mat-label>
                    <mat-select formControlName="requestFor" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let opt of requestForOptions" [value]="opt.value">
                        {{opt.viewValue}}
                      </mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="requestFor.hasError('required')">Please choose Request For field</mat-error> -->
                 </mat-form-field>                 
                  <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">favorite</mat-icon>
                    <mat-label>Request Category</mat-label>
                    <mat-select formControlName="requestCategory" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let opt of requestCategoryOptions" [value]="opt.value">
                        {{opt.viewValue}}
                      </mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="requestCategory.hasError('required')">Please choose Request For field</mat-error> -->
                </mat-form-field> 
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">opacity</mat-icon>
                    <mat-label>Group Type</mat-label>
                    <mat-select formControlName="requestedBloodGroup" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let opt of bloodGroupOptions" [value]="opt.value">
                        {{opt.viewValue}}
                      </mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="requestedBloodGroup.hasError('required')">Please choose Request For field</mat-error> -->
                </mat-form-field> 
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">call</mat-icon>
                    <input matInput placeholder="Phone Number" formControlName="requestorPhNum" required>
                    <!-- <mat-error *ngIf="form.controls.requestorPhNum.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error> -->
                </mat-form-field> 
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">description</mat-icon>
                    <input matInput placeholder="Description" formControlName="description" >
                    <!-- <mat-error *ngIf="form.controls.description.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error> -->
                </mat-form-field> 
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">location_on</mat-icon>
                    <input matInput placeholder="Location" formControlName="location" required>
                    <!-- <mat-error *ngIf="form.controls.location.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error> -->
                </mat-form-field> 
                  <mat-error *ngIf="errorMsg">
                      <strong>{{errorMsg}}</strong>
                    </mat-error>              
                  <!-- <mat-slide-toggle formControlName="rememberMe" class="my-2">Keep me signed in</mat-slide-toggle> -->
                  <button mat-raised-button color="primary" class="mat-elevation-z6 w-100 mt-3" type="submit">{{requestFormModel.donateRequestId?'Update Request':'Submit Request'}}</button>
              </div>
          </form>