<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.sm="50" class="p-2">
        <mat-card fxLayout="row" fxLayoutAlign="start center" class="p-1 gradient-indigo team-member">
            <img src="assets/img/profile/user.jpg" alt="image" class="mat-elevation-z3">        
            <div fxLayout="column" fxLayoutAlign="center center" class="w-100  ml-2">
                <h3>Amrutha Vadapalli</h3>
                <p class="mt-1">2360416</p>
                <p class="mt-1"><span>1000</span> Points</p>
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.sm="50" class="p-2">
        <mat-card fxLayout="row" fxLayoutAlign="start center" class="p-1 gradient-green team-member">
            <img src="assets/img/profile/user.jpg" alt="image" class="mat-elevation-z3">        
            <div fxLayout="column" fxLayoutAlign="center center" class="w-100 ml-2">
                <h3>Satya Talatam</h3>
                <p class="mt-1">2360416</p>
                <p class="mt-1"><span>750</span> Points</p>
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.sm="50" class="p-2">
        <mat-card fxLayout="row" fxLayoutAlign="start center" class="p-1 gradient-amber team-member">
            <img src="assets/img/profile/user.jpg" alt="image" class="mat-elevation-z3">        
            <div fxLayout="column" fxLayoutAlign="center center" class="w-100  ml-2">
                <h3>Soumya Paluru</h3>
                <p class="mt-1">2360416</p>
                <p class="mt-1"><span>500</span> Points</p>
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="50" fxFlex.sm="50" class="p-2">
        <mat-card fxLayout="row" fxLayoutAlign="start center" class="p-1 gradient-red team-member">
            <img src="assets/img/profile/user.jpg" alt="image" class="mat-elevation-z3">        
            <div fxLayout="column" fxLayoutAlign="center center" class="w-100  ml-2">
                <h3>Sudha Pallam</h3>
                <p class="mt-1">2360416</p>
                <p class="mt-1"><span>400</span> Points</p>
            </div>
        </mat-card>
    </div>
</div>